*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
nav{
    border-bottom: 3px solid black;
}
img{
    border-radius: 15px;
}
.container1{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-header{
    color: black;
}
.modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.modal-input{
    margin: 7px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.card1{
    margin: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0 2px white;
}
.sidebar{
    height: 45.59rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.main-content{
    border-left: 1px solid grey;
    background-color: black;
    height: 45.59rem;
    width: 100%;   
    display: flex;
    flex-direction: column;
    color: white;
   
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: 2px solid grey;
}
.cards{
    height: 100%;
    margin: 2px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: space-around;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome-text{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
   align-items: center;
}

.text2{
    display: flex;
}
.bottom-container{
    display: flex;
}
.highlights{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 15px;
    padding: 3px;
}
@media screen and (max-width: 768px) {
    .sidebar{
      display: none;
    }
  }
.modal-body{
    background-color: black;
}
.modal-header{
    color: white;
    background-color: black;
}
.modal-footer{
    background-color: black;
}
input{
    background-color: black;
    border: 1px solid black;
    color: white;
}
p{
    color: lightskyblue;
}
.table{
    color: white;
    height: 100%;
}

